extends layout
block content
    #banner.page-header
        .row
            .col-md-6.col-sm-12
                h1= title
                h2 RIGHT PAGE
    .row
        .col-md-6.col-sm-12
            p !{(content).replace(/\n/g, '<br/>')}